.banner {
    position: relative;
    margin-bottom: 10px;

}

.banner p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    user-select: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.banner img {
    user-select: none;
}

.product_banner {
    width: 200px;
    display: flex;
}

.product_banner img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.banner_text {
    width: 100px;
    height: 100px;
    padding: 0 5px;
    box-sizing: border-box;
}

.banner_text button {
    background: none;
    border: 2px black solid;
    font-weight: bold;
    color: black;
}

.banner_box a {
    text-decoration: none;
    color: black
}