#smartphone_navi {
    padding: 10px;
    margin: 0 auto;
}

#smartphone_navi li a {
    display: block;
    text-align: center;
    margin: 10px 0;
    height: 40px;
    line-height: 40px;
}

#pulldown {
    display: none;
}

#pulldown:checked~#pulldown_menu li {
    height: 40px;
}

#pulldown_menu li {
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}